In [2]:
a = 5+7j     #Complex Data Type

In [3]:
type(a)

complex

In [4]:
a.real

5.0

In [5]:
a.imag

7.0

In [6]:
a.conjugate

In [7]:
a.conjugate()

(5-7j)

In [8]:
True - True     # 1 -1 = 0

0

In [9]:
True - False

1

In [10]:
True*True

1

In [11]:
False - False

0

In [13]:
#True / False     # 1 / 0 = Zero Division Error

In [14]:
list1 = [2, 4, 6-7j, 5.33, 6.31]

In [15]:
type(list1)

list

In [17]:
dict1 = {'a': 'a', 'b': 'b', "c": 'c'}

In [18]:
type(dict1)

dict

In [21]:
set1 = {1,1,2,4,4,5,7,-2,3,-2}   # will show only unique values

In [22]:
set1

{-2, 1, 2, 3, 4, 5, 7}

In [23]:
tuple1 = (1,2,6-7j, 5.44, -7)    # immutable list

In [24]:
list1.append(1)

In [27]:
# tuple1.append(1)       # We won't be able to append or pop from tuple because its definition doesn't have these functions.
# It is because Tuple is immutable

Other Data Types include: Integer, String, String does the work of character data type as well