### Scaling concept is same for Strings & Lists

In [1]:
l = [1,2,4, 'vishwas', True]

In [2]:
l[0]

1

In [3]:
l[-1]

True

In [4]:
l[2:6:2]

[4, True]

In [5]:
l[4:2:-2]

[True]

In [6]:
l[::-1]

[True, 'vishwas', 4, 2, 1]

In [7]:
l + list('vishu')

[1, 2, 4, 'vishwas', True, 'v', 'i', 's', 'h', 'u']

In [8]:
l + ['vishu']

[1, 2, 4, 'vishwas', True, 'vishu']

In [9]:
l*2

[1, 2, 4, 'vishwas', True, 1, 2, 4, 'vishwas', True]

In [10]:
# How to check if Vishwas contains a 'w' in it?
# Typecast 'Vishwas' as list and then use in operator

str = 'Vishwas'
list_str = list(str)
print(list_str)
'w' in list_str

['V', 'i', 's', 'h', 'w', 'a', 's']

True

In [11]:
max(list_str)    

# Max() function is not available after applying a (.) at the end of list and pressing tab bcoz it was 
# not defined in its definition. This was done because max/min() func works on the concept of iterable
# and lists are not the only data types that are iterable, string

'w'

In [12]:
l.append('q')

In [13]:
l.append(['a', 1, 3])

In [14]:
l

[1, 2, 4, 'vishwas', True, 'q', ['a', 1, 3]]

In [15]:
l.pop(2)

4

In [16]:
l

[1, 2, 'vishwas', True, 'q', ['a', 1, 3]]

In [17]:
list_str.sort(reverse=True)

In [18]:
list_str

['w', 's', 's', 'i', 'h', 'a', 'V']

In [19]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

In [20]:
l4 = [l1,l2,l3]

In [21]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
l4[2][1]

8

In [23]:
str.count('w')

1

### Difference bw .append() and .extend()

In a list, append fucntion inserts data at the end of the list. The data can be a list, or seaparte integer values/Strinf/float/complex.

But, the extend func, Adds only a list at the end of the list. Only Iterable data, lists or strings.
Addition of list/string to a list is done by unwrapping the list/string and then adding it element by element to the list.

In [24]:
l_ex = [1 ,3 ,4 , 6]

In [25]:
l_ex.append(8)

In [26]:
l_ex.append([-2, 2.3, 'hello'])

In [27]:
l_ex

[1, 3, 4, 6, 8, [-2, 2.3, 'hello']]

In [28]:
l_ex.append('shrma')             # will add the whole word

In [29]:
l_ex

[1, 3, 4, 6, 8, [-2, 2.3, 'hello'], 'shrma']

In [30]:
# l_ex.extend(6)           # Error integer is not iterable

In [31]:
l_ex.extend('vishwas')     # String is Iterable

In [32]:
l_ex

[1, 3, 4, 6, 8, [-2, 2.3, 'hello'], 'shrma', 'v', 'i', 's', 'h', 'w', 'a', 's']

In [33]:
l_ex.extend([-9,-1])       # List is Iterable

In [34]:
l_ex

[1,
 3,
 4,
 6,
 8,
 [-2, 2.3, 'hello'],
 'shrma',
 'v',
 'i',
 's',
 'h',
 'w',
 'a',
 's',
 -9,
 -1]

In [35]:
l_ex.index(3)

1

In [36]:
l_ex.pop()

-1

In [37]:
l_ex.insert(0, 'S')

In [38]:
l_ex

['S',
 1,
 3,
 4,
 6,
 8,
 [-2, 2.3, 'hello'],
 'shrma',
 'v',
 'i',
 's',
 'h',
 'w',
 'a',
 's',
 -9]

### .pop() vs .remove()

pop() deletes the element based on index we provide (By default last)

remove() deletes the first occurance of the element.

Therefore, remove() can be used instead of pop() whenever we don't know the index of the element that we want to remove.

In [39]:
l7 = [3,4,5]
l7[1]

4

In [40]:
l7[1] = 5

In [41]:
l7        # Lists support Item Assignment because they are Mutable

[3, 5, 5]

In [42]:
a = 'string'
a[2]

'r'

In [43]:
# a[2] = 'w'     # Error: String doesn't supports Item Assignment bcoz they are immutable

## Tuples

In [44]:
t = (1 ,2, 3, 'vasu', -2.3, 5+2j)

In [45]:
type(t)

tuple

In [46]:
t[4]

-2.3

In [47]:
t[1:5:2]

(2, 'vasu')

In [48]:
t[5:1:-2]

((5+2j), 'vasu')

In [49]:
t =  t[::-1]

In [50]:
t

((5+2j), -2.3, 'vasu', 3, 2, 1)

In [53]:
# t[2] = 'v'         # Error: Tuple is immutable

In [54]:
t1 = (66, 67, 87)

In [56]:
t = t+t1

In [57]:
t

((5+2j), -2.3, 'vasu', 3, 2, 1, 66, 67, 87)

#### Here Tuples got added bcoz immutability of individual is not impacted by the addition

In [58]:
t.count(2)

1

In [59]:
t.index(2)

4

In [60]:
t2 = (1,2,3)

In [62]:
t2 = list(t2)

In [63]:
t2

[1, 2, 3]

In [64]:
tuple(t2)

(1, 2, 3)

### Dictionary (Key-Value Pairs)

In [65]:
dict1 = {}

In [66]:
type(dict1)

dict

In [67]:
dict1 = {1}

In [68]:
type(dict1)

set

In [69]:
d2 = {'key1':'val1', 'key2':'val2' }

In [70]:
type(d2)

dict

In [71]:
d3 = {'a': 'alpha', 3:'no', 'str': 'string'}

In [72]:
d3[3]

'no'

In [76]:
d3['str']

'string'

In [77]:
d4 = {'name':'vishwas', 'tech':['python', 'ML', 'DL', "NLP", 'CV', 'Data Analytics']}

In [78]:
d4

{'name': 'vishwas',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Data Analytics']}

In [79]:
d4['tech']

['python', 'ML', 'DL', 'NLP', 'CV', 'Data Analytics']

In [80]:
# Does Vishwas knows DL?

In [82]:
'DL' in d4['tech']

True

In [83]:
d5 = {'name':'vishwas', 'contact_no': 342457, 'name':'vasu'}

In [84]:
d5

{'name': 'vasu', 'contact_no': 342457}

#### As we can see that the dictionary shows only one key as name. This means keys should be unique in a dictionary otherwise python will override them. Values can be repeated.

In [87]:
d5['class'] = 'new1'

In [88]:
d5

{'name': 'vasu', 'contact_no': 342457, 'class': 'new1'}

In [93]:
d5['k1'] = d3

In [94]:
d5

{'name': 'vasu',
 'contact_no': 342457,
 'class': 'new1',
 'k1': {'a': 'alpha', 3: 'no', 'str': 'string'}}

In [95]:
d5['k1']

{'a': 'alpha', 3: 'no', 'str': 'string'}

In [97]:
d5['k1'][3]

'no'

In [98]:
d6 = {(1,2,3): 'value'}

In [100]:
# d7 = {[1,2,3]: 'val'}      # Error: List is Unhashable

In [101]:
# d8 = {{1:2}: 'val'}      # Error: dict is Unhashable

In [104]:
# d3 + d2       # Dict can't be concatenated

In [105]:
d2.keys()

dict_keys(['key1', 'key2'])

In [106]:
d2.values()

dict_values(['val1', 'val2'])

In [109]:
d_star = d2.items()
d_star

dict_items([('key1', 'val1'), ('key2', 'val2')])

In [110]:
type(d_star)

dict_items

### Set

In [119]:
s1 = {3,4,2,1,4,6,6}

In [120]:
s1          # Sorting (Not in every case) + Removing Duplicates

{1, 2, 3, 4, 6}

In [121]:
s2 = {34, 12, 6, 5, 'b', -5}

In [123]:
s2        # Not sorted

{-5, 12, 34, 5, 6, 'b'}

In [125]:
# s2[2]       # Error: Set is not Scriptable. Means elements are randomly placed everytime so no fix index. Convert to list

In [128]:
s2 = list(s2)

In [129]:
s2[2]

5

In [131]:
s2 = set(s2)

In [132]:
s2.pop()

34

In [135]:
s2.remove('b')

In [137]:
s2

{-5, 5, 6, 12}

In [136]:
s2.discard('b')

In [139]:
d2.fromkeys('string', [1,2,3])

{'s': [1, 2, 3],
 't': [1, 2, 3],
 'r': [1, 2, 3],
 'i': [1, 2, 3],
 'n': [1, 2, 3],
 'g': [1, 2, 3]}