### For Loop

In [4]:
l1 = [1,2,3,4,5,6, 'vishwas', -23,4, 8+2j]

In [5]:
for i in l1:
    print(i)

1
2
3
4
5
6
vishwas
-23
4
(8+2j)

In [3]:
# i is the iterator
# l1 is the iterable

In [15]:
l2 = []
s = 'vishwas'
for i in s:
    l2.append(i)
else:
    print('When For Loop will exhaust this will print')

When For Loop will exhaust this will print

In [13]:
l2

['v', 'i', 's', 'h', 'w', 'a', 's']

In [16]:
for i in s:
    if i == 'h':
        break
    print(i)
else:
    print('When For Loop will exhaust (Complete Itself) this will print')

v
i
s

In [17]:
t = (1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [18]:
s1 = {4,5,6,7,8,7,8,'vish'}

In [19]:
s1

{4, 5, 6, 7, 8, 'vish'}

In [21]:
for i in s1:
    print(i)

4
5
6
7
8
vish

In [22]:
d = {'k1': 'vishwas', 'age':21, 'k2': 2323456}

In [29]:
for i in d:
    print(i, ':', d[i])

k1 : vishwas
age : 21
k2 : 2323456

In [46]:
for i in range(0,4):
    for j in range(0, i+1):
        print('vish', end=' ')
    print('\n')

vish

vish vish

vish vish vish

vish vish vish vish

In [38]:
list(range(0, 5, 2))

[0, 2, 4]

In [39]:
list(range(5,0,-2))

[5, 3, 1]

In [40]:
list(range(0,5,-2))

[]

In [50]:
n = 2
for i in range(0,2):
    for j in range(i , n-1):
        print('  ', end = ' ')
    for j in range(0, i+1):
        print('vish', end=' ')
    print()

   vish
vish vish

In [56]:
# Better Logic
n = 3
for i in range(3):
    for j in range(i, n-1):
        print(' '*len('vish'), end=' ')
    for j in range(i+1):
        print('vish', end=' ')
    for j in range(i):
        print('vish', end=' ')
    print()

          vish
     vish vish vish
vish vish vish vish vish

In [59]:
t = (3, 23, 45, 67, 2, 4, 5, 6,3)

In [61]:
for i in t:
    print(t.index(i), ':', i)

0 : 3
1 : 23
2 : 45
3 : 67
4 : 2
5 : 4
6 : 5
7 : 6
0 : 3

### This logic won't work when there is repeptition in tuple bcoz index function returns the index of first occurance

In [62]:
for i in range(len(t)):
    print(i, ':', t[i])

0 : 3
1 : 23
2 : 45
3 : 67
4 : 2
5 : 4
6 : 5
7 : 6
8 : 3

In [75]:
s = 'ineuron'
for i in range(len(s)):
    print(i, ':', s[i])

0 : i
1 : n
2 : e
3 : u
4 : r
5 : o
6 : n

In [73]:
s = 'ineuron'
for i in range(len(s)-1, -1,-1):
    print(i, ':',  s[i])

6 : n
5 : o
4 : r
3 : u
2 : e
1 : n
0 : i

In [76]:
d

{'k1': 'vishwas', 'age': 21, 'k2': 2323456}

In [81]:
for i in d:
    print(i, ',', d[i])

k1 , vishwas
age , 21
k2 , 2323456

In [82]:
d.items()

dict_items([('k1', 'vishwas'), ('age', 21), ('k2', 2323456)])

In [89]:
for i in d.items():
    print(i,',', type(i),',', type(i[1]))

('k1', 'vishwas') , <class 'tuple'> , <class 'str'>
('age', 21) , <class 'tuple'> , <class 'int'>
('k2', 2323456) , <class 'tuple'> , <class 'int'>

In [90]:
l = ['vishwas', 'vasu', 3456776, 'sharma@mail.com', 2324, 'str']

In [95]:
l3 = []
for i in l:
    if type(i) == int:
        l3.append(i)
l3

[3456776, 2324]

In [96]:
d2 = {1:3456, 'name':'vishwas', 'mail':'mail.com', 234:'fgf', '43': 'sdfdbfb,',234: "3456"}

In [97]:
d2.items()

dict_items([(1, 3456), ('name', 'vishwas'), ('mail', 'mail.com'), (234, '3456'), ('43', 'sdfdbfb,')])

In [98]:
for i in d2.items():
    if type(i[0]) == int:
        print(i)

(1, 3456)
(234, '3456')

In [102]:
for i in d2:
    if type(i) == int:
        print(i, ':', d2[i])

1 : 3456
234 : 3456

In [125]:
s2 = 'aaaabbccd'      # Not a good approach
l4 = []
l5 = []
for i in s2:
    l4.append(i)
a = set(l4)
b = list(a)
b.sort()
for i in b:
    print(i, ':', l4.count(i))

a : 4
b : 2
c : 2
d : 1

In [126]:
s2 = 'aaaabbccd'     # Better Approach
for i in set(s2):
    print(i, ':', s2.count(i))

b : 2
d : 1
c : 2
a : 4

In [135]:
t = ('vish', 'shrma', [1,2,3,4], (1,2,3,4), {3:67, 'key':'val'})

In [144]:
for i in t:
    if type(i) == str or type(i) == tuple or type(i) == list:
        for j in range(len(i)):
            if i[j] == 3:
                print(j)
    if type(i) == dict:
        for j in i:
            if j == 3:
                print(j)
                print(i[j])

2
2
3
67

In [ ]:
q1 :
iNeruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

                ineruon
        ineruon         ineruon
ineruon         ineruon         ineruon
        ineruon         ineruon
                ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [11]:
# q1
for i in range(0,4):
    for j in range(0, i+1):
        print('ineuron', end= ' ')
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [9]:
# q2
n = 5
for i in range(0,n):
    for j in range(i, n-3):
        print(' '*len('ineuron'), end = ' ')
    for j in range(i):
        print('ineuron', end=' ')
        print(' '*len('ineuron'), end=' ')
  #  for j in range(n-3, i-1, -1):
   #     print('ineuron', end=' ')
    print()

        ineuron
ineuron         ineuron
ineuron         ineuron         ineuron
ineuron         ineuron         ineuron         ineuron

In [44]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [45]:
# q3
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [46]:
# q4
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [47]:
# q5
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [48]:
# q6
l2 = []
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in range(len(i)):
            if type(i[j]) == int or type(i[j]) == float:
                l2.append(i[j])
    
    if type(i) == set:
        l1 = list(i)
        for j in range(len(l1)):
            if type(l1[j]) == int or type(l1[j]) == float:
                l2.append(l1[j])
    
    if type(i) == dict:
        for j in i:
            if type(j) == int:
                l2.append(j)
            if type(i[j]) == int:
                l2.append(i[j])
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [49]:
a = 0
for i in l2:
    a = a + i
a

156

In [50]:
# q7
a = 0
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in range(len(i)):
            if type(i[j]) == int or type(i[j]) == float:
                a = a + i[j]
    
    if type(i) == set:
        l1 = list(i)
        for j in range(len(l1)):
            if type(l1[j]) == int or type(l1[j]) == float:
                a = a + l1[j]
                
    if type(i) == dict:
        for j in i:
            if type(j) == int:
                a = a + i[j]
            if type(i[j]) == int:
                a = a + i[j]
    
a

160

In [51]:
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [53]:
# q8
l3 = []
for i in l2:
    if i%2 != 0:
        l3.append(i)
l3

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [54]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [55]:
# q9
l[4]['k2']

'ineuron'

In [56]:
# q9
l[5][0]

'ineuron'

In [62]:
# q10
l4 = []
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in range(len(i)):
            l4.append(i[j])
    
    if type(i) == set:
        l_temp = list(i)
        for j in range(len(l_temp)):
            l4.append(l_temp[j])
    
    if type(i) == dict:
        for j in i:
            l4.append(j)
            l4.append(i[j])
l4

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [64]:
l4_set = set(l4)
l4_set

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science ',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [66]:
for i in l4_set:
    print(l4.count(i), ':', i)

1 : 1
2 : 2
4 : 3
4 : 4
3 : 5
3 : 6
2 : 7
1 : sudh
1 : k2
1 : kumar
1 : 8
1 : 45
1 : data science
1 : k3
1 : 23
2 : ineuron
1 : k1

In [67]:
# q11
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [69]:
d = l[4]

In [72]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 3, 7])

In [73]:
# q12
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [75]:
l5 = []
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if type(j) == str:
                l5.append(j)

    if type(i) == set:
        l_temp = list(i)
        for j in i:
            if type(j) == str:
                l5.append(j)
                
    if type(i) == dict:
        for j in i:
            if type(j) == str:
                l5.append(j)
            if type(i[j]) == str:
                l5.append(i[j])
l5

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [76]:
# q13

In [77]:
# q14
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]